@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f9fafb;
  --accent-start: #BF5AF2;
  --accent-end: #5E5CE6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-start: var(--accent-start);
  --color-accent-end: var(--accent-end);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}